MQTT_BROKER_HOST=0.tcp.in.ngrok.io
MQTT_BROKER_PORT=24839
MQTT_TOPIC=weh-device/network
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_HOST=0.tcp.in.ngrok.io
MQTT_PORT=24839
MQTT_BASE_TOPIC=wifi/alerts
MQTT_USER=
MQTT_PASS=
MQTT_ENABLED=true
POLL_INTERVAL_SECONDS=30
ALERT_THRESHOLD=0.5
WINDOW_MINUTES=5
POLL_LOOKBACK_MINUTES=2
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
